[Unit]
Description=linuxptp Grandmaster (ptp4l) on eth0
Wants=network-online.target
After=network-online.target sys-subsystem-net-devices-eth0.device
Requires=sys-subsystem-net-devices-eth0.device

[Service]
Type=simple
User=root
ExecStartPre=/sbin/ip link show dev eth0
ExecStart=/usr/sbin/ptp4l -f /opt/mandeye/gm-l2.conf -i eth0 -m -2 --tx_timestamp_timeout 100
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target