[Unit]
Description=Mandeye
After=multi-user.target

[Service]
User=pi
ExecStartPre=/bin/sleep 35
ExecStart=/opt/mandeye/control_program
Restart=always

[Install]
WantedBy=multi-user.target
