[Unit]
Description=Mandeye_murata_spi_imu Service
After=multi-user.target

[Service]
User=pi
StandardOutput=journal
StandardError=journal
ExecStartPre=/bin/sleep 20
ExecStart=/opt/mandeye/extras/mandeye_murata_spi_driver
Restart=always

[Install]
WantedBy=multi-user.target

