[submodule "3rd/incbin"]
	path = 3rd/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "3rd/LASzip"]
	path = 3rd/LASzip
	url = https://github.com/LASzip/LASzip.git
[submodule "3rd/pistache"]
	path = 3rd/pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "3rd/libserial"]
	path = 3rd/libserial
	url = https://github.com/crayzeewulf/libserial.git
[submodule "3rd/minmea"]
    path = 3rd/minmea
    url = https://github.com/kosma/minmea.git
[submodule "3rd/ouster-sdk"]
	path = 3rd/ouster-sdk
	url = https://github.com/ouster-lidar/ouster-sdk.git
[submodule "3rd/hesai_sdk"]
	path = 3rd/hesai_sdk
	url = https://github.com/HesaiTechnology/HesaiLidar_SDK_2.0.git
