[submodule "3rd/incbin"]
	path = 3rd/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "3rd/LASzip"]
	path = 3rd/LASzip
	url = https://github.com/LASzip/LASzip.git
[submodule "3rd/pistache"]
	path = 3rd/pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "3rd/CppGPIO"]
	path = 3rd/CppGPIO
	url = https://github.com/JoachimSchurig/CppGPIO.git
[submodule "3rd/libserial"]
	path = 3rd/libserial
	url = https://github.com/crayzeewulf/libserial.git
[submodule "3rd/minmea"]
    path = 3rd/minmea
    url = https://github.com/kosma/minmea.git
[submodule "3rd/Livox-SDK"]
	path = 3rd/Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK.git
