[Unit]
Description=mandeye_controllel

[Service]
User=mandeye
StandardOutput=null
StandardError=null
WorkingDirectory=/home/mandeye/mandeye_controller/build
ExecStart=/home/mandeye/mandeye_controller/service/start_mandeye_controllel.sh
Restart=always

[Install]
WantedBy=multi-user.target
