[Unit]
Description=mandeye_controller

[Service]
User=mandeye
StandardOutput=null
StandardError=null
WorkingDirectory=/tmp/
ExecStart=mandeye_controller.sh
Restart=always

[Install]
WantedBy=multi-user.target
