[Unit]
Description=mandeye_controller

[Service]
User=mandeye
StandardOutput=null
StandardError=null
WorkingDirectory=/tmp/
ExecStart=/usr/local/bin/start_mandeye_controller.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
