[Unit]
Description=mandeye_murata_uart_driver Service
After=multi-user.target

[Service]
User=pi
StandardOutput=journal
StandardError=journal
ExecStartPre=/bin/sleep 20
ExecStart=/opt/mandeye/extras/mandeye_murata_uart_driver
Restart=always

[Install]
WantedBy=multi-user.target

