[Unit]
Description=Mandeye_extra_gnss
After=multi-user.target

[Service]
User=pi
StandardOutput=journal
StandardError=journal
ExecStartPre=/bin/sleep 20
ExecStart=/opt/mandeye/extras/mandeye_extra_gnss
Restart=always

[Install]
WantedBy=multi-user.target

