[Unit]
Description=Mandeye OLED status display service
After=multi-user.target mandeye_controller.service

[Service]
User=pi
StandardOutput=journal
StandardError=journal
ExecStartPre=/bin/sleep 10
ExecStart=/opt/mandeye/extras/mandeye_oled_status
Restart=always

[Install]
WantedBy=multi-user.target